@model TNS.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Đổi mật khẩu</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="/tai-khoan.html">Thông tin tài khoản</a></li>
                        <li class="breadcrumb-item active">Đổi mật khẩu</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements disabled -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Đổi mật khẩu</h3>
                        </div>
                        <!-- /.card-header -->
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                        {
                            <div class="card-body">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.OldPassword, new { @class = "" })
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "" })
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="button" onclick="window.location='/tai-khoan.html'" value="Hủy" class="btn btn-danger" />
                                <button type="submit" class="btn btn-success  float-right">
                                    <i class="fa fa-key"></i> Đổi mật khẩu
                                </button>
                            </div>
                            <!-- /.card-footer -->
                        }
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
